/* Header */

.header {
  padding: 92px 0 89px;
  font-size: 18px;
}

.container {
  padding: 0 20px;
  width: 100%;
  margin: 0 auto;
}

.header .container {
  display: grid;
  grid-template-columns: 3fr 1fr 3fr;
  align-items: center;
}

.links-list {
  display: flex;
  white-space: nowrap;
  gap: 32px;
  justify-content: center;
}

.links-list-item {
  list-style: circle;
}

.links-list-item.no-bullit {
  list-style: none;
}

.link.active {
  text-decoration: none;
}

.logo {
  justify-self: center;
}

.logo-image {
  width: 148px;
  height: 105px;
  width: 100%;
  background-position: center;
}

.contact-info {
  font-style: inherit;

  justify-self: end;
  max-width: 240px;
  letter-spacing: 0.01em;
}

header .contact-info {
  margin-right: 34px;
}

.contact-link {
  display: block;
  line-height: 24px;
  text-underline-position: under;
}

.contact-info p {
  line-height: 24px;
}

/* Cover */

.cover {
  position: relative;
  background: url('../images/cover.jpg') center/cover;
  color: #fff;
  margin-bottom: 179px;
}

.cover-inner {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  padding: 165px 50px 50px;
}

.cover-title {
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.cover-description {
  margin-top: 120px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.cover-description-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  text-align: end;
  word-spacing: 18px;
  text-transform: uppercase;
  margin-right: 8%;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.aligned-text-left {
  text-align: left;
}

.aligned-text-center {
  width: 100%;
  max-width: 1310px;
  text-align: center;
}

.aligned-text-right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 0.6em;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.bet-button {
  cursor: pointer; /*Добавил cursor: pointer*/
  font-family: 'Raleway', sans-serif; /*Указал шрифт для кнопки, так как он не наследуется*/
  font-weight: 500; /*Указал верный font-weight*/
  font-size: 22px;
  text-transform: uppercase;
  background: none;
  border: 1px solid #fff;
  border-radius: 0;
  color: #fff;
  padding: 12px 32px;
  transition: all 0.3s ease;
}

.bet-button:hover {
  background-color: #fff;
  color: #000;
  transform: scale(1.04);
}

/* Lots  */

.lots {
  margin-bottom: 181px;
}

.lots-title {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 40px;
  line-height: normal;
  margin-bottom: 27px;
  margin-left: 40px;
}

.lots-card-list {
  display: flex;
  gap: 25px;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
  flex-wrap: wrap; /*стилизация карточек при для переноса на другую строку*/
}

.lots-card-list-item {
  position: relative;
  width: 334px;
  min-height: 563px; /*задал более мягкое свойство*/
  /* убрал overflow: hidden, так как ничего здесь не нужно обрезать*/
  flex-grow: 1; /*стилизация карточек при для переноса на другую строку*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card-link {
  text-decoration: none;
} /*убрал подчеркивание текста у текста карточек, при этом сохранил для title*/

.card {
  padding: 51px 40px 48px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.card-title {
  font-size: 22px;
  text-transform: uppercase;
  text-decoration: underline;
  position: relative;
  z-index: 1;
}

.card-text {
  font-size: 20px;
  position: relative;
  z-index: 1;
  line-height: 24px;
}

.card-type-film {
  background-image: url('../images/card-lot-01.jpg'); /*исправил путь у каточек*/
}

.card-type-book {
  background-image: url('../images/card-lot-02.jpg'); /*исправил путь у каточек*/
}

.card-type-picture {
  background-image: url('../images/card-lot-03.jpg'); /*исправил путь у каточек*/
}

.lots-look-more-link {
  margin-left: 41px;
  margin-top: 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: normal;
  text-underline-offset: 5px;
  transition: text-underline-offset 0.3s ease;
}

.lots-look-more-link:hover {
  text-underline-offset: 7px;
}

/* About */

.about {
  display: flex;
  justify-content: space-between;
  margin-bottom: 181px;
}

.about-logo {
  display: flex;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background: #000;
  margin-left: 51px;
}

.about-logo-image {
  width: 148px;
  height: 114px;
  margin: auto;
  object-fit: contain;
}

.about-column {
  max-width: 693px;
}

.about-title {
  font-size: 40px;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding: 101px 0 100px 0;
}

.about-text {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.about-text:nth-of-type(1) {
  letter-spacing: 0.01em;
}

.about-text span:nth-of-type(2) {
  letter-spacing: 0.02em;
}

.about-text span:nth-of-type(3) {
  letter-spacing: -0.01em;
}

.about-text span:nth-of-type(4) {
  letter-spacing: 0.03em;
}

.about-text:nth-of-type(2) span:nth-of-type(1) {
  letter-spacing: 0.04em;
}

.about-text:nth-of-type(2) span:nth-of-type(1) {
  letter-spacing: 0.01em;
}

.about-text:not(:last-child) {
  margin-bottom: 24px;
}

/* Footer */

.footer {
  font-size: 18px;
  padding: 0 50px 90px;
  display: flex;
  justify-content: space-between;
}

footer .contact-info {
  margin-right: 90px;
}

.footer-menu {
  flex: 0 0 auto;
  width: auto;
  display: flex;
  flex-direction: column;
}

.footer-menu-list {
  list-style: none;
  text-align: center;
}

.footer-menu-link {
  text-underline-position: under;
}

.footer-menu-link-active {
  text-decoration: none;
}

.footer-social-list {
  flex: 0 0 auto;
  width: 33.3%;
  display: flex;
  justify-content: end;
  gap: 48px;
  list-style: none;
}

.footer-social-icon {
  width: 48px;
  height: 48px;
}
